In [1]:
#Spark-SQl

In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Sorting').master('local[1]').getOrCreate()

In [3]:
simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Raman","Finance","CA",99000,40,24000), \
    ("Scott","Finance","NY",83000,36,19000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]


columns= ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data = simpleData, schema = columns)

df.printSchema()
#df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

In [4]:
df.createOrReplaceTempView("EMP")

In [8]:
result = spark.sql("select department,min(salary) as mn_sal,max(salary) as mx_sal from EMP where salary > 85000 group by department")
result.show()

+----------+------+------+
|department|mn_sal|mx_sal|
+----------+------+------+
|     Sales| 86000| 90000|
|   Finance| 90000| 99000|
| Marketing| 91000| 91000|
+----------+------+------+

In [17]:
results = spark.sql("select salary, dense_rank() over(order by salary asc) as rnk from EMP")
results.show()

#ROW_NUMBER() #sequent never miss
#RANK() #sequence can miss if having any duplicates
#DENSE_RANK() #sequence can't miss but can give same number to duplicate values

+------+---+
|salary|rnk|
+------+---+
| 79000|  1|
| 80000|  2|
| 81000|  3|
| 83000|  4|
| 86000|  5|
| 90000|  6|
| 90000|  6|
| 91000|  7|
| 99000|  8|
+------+---+

In [ ]:
#creating dataframe 
#selectExpr,drop,withColumn,groupBy,join,where,sort
#spark.sql()